  <app-nav></app-nav>
  <router-outlet></router-outlet>

<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">The Gold Saucer Restaurant</h5>
        <p class="grey-text text-lighten-4">Explora nuestro menú y haz tu pedido en línea. Disfruta de una experiencia gastronómica única.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Conéctate con nosotros</h5>
        <div>
          <a class="white-text" href="https://www.facebook.com" style="margin-right: 15px;"><i class="fab fa-facebook fa-2x"></i></a>
          <a class="white-text" href="https://www.instagram.com" style="margin-right: 15px;"><i class="fab fa-instagram fa-2x"></i></a>
          <a class="white-text" href="https://www.linkedin.com"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2024 The Gold Saucer Restaurant
    </div>
  </div>
</footer>
