<div class="container">
    <div class="row">
      <div class="col s12">
        <img src="assets/banner.png" class="responsive-img" alt="plato_home">
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align blue-text text-darken-2">
        <h1 class="flow-text golden">The Gold Saucer Restaurant</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="assets/plato_home1.jpg" alt="Plato 1" class="responsive-img">
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-content">
            <p>
              Disfruta de un plato refrescante y lleno de sabor: nuestro ceviche de camarones. Camarones frescos marinados en jugo de limón y mezclados con cebolla morada, 
              cilantro, tomate y aguacate. Servido con una pizca de sal y pimienta, este ceviche es el equilibrio perfecto entre acidez y frescura. Acompañado de crujientes 
              chips de plátano y una rodaja de limón para exprimir al gusto, es ideal para aquellos que buscan una opción ligera y saludable.
            </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="assets/plato_home2.jpg" alt="Plato 2" class="responsive-img">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-content">
            <p>
              Sumérgete en la cremosidad y profundidad de sabores con nuestro risotto de hongos y trufa. Arroz Arborio cocido lentamente en un caldo de vegetales, mezclado con una variedad de 
              hongos silvestres y terminado con una generosa cantidad de queso parmesano. El toque final de aceite de trufa eleva este plato a una experiencia culinaria inolvidable. Decorado 
              con perejil fresco y servido con una guarnición de espárragos al vapor, es una delicia para los amantes de la gastronomía italiana.
            </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="assets/plato_home3.jpg" alt="Plato 3" class="responsive-img">
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class="card-content">
            <p>
              Déjate llevar por los sabores mediterráneos con nuestra exquisita paella de mariscos. Arroz de grano corto cocido lentamente en un caldo de pescado y azafrán, mezclado con una rica
               variedad de mariscos frescos como camarones, mejillones, calamares y almejas. Este plato se complementa con pimientos rojos, guisantes y tomates, todos cocidos a la perfección en una
               paellera tradicional. Decorado con rodajas de limón y perejil fresco, cada bocado de esta paella te transportará a la costa de España, ofreciéndote una experiencia culinaria rica y 
               llena de matices. Perfecto para compartir y disfrutar en compañía, es un festín de sabores del mar.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  