<div class="container">
  <h1 class="center-align flow-text">Calificar al Mesero</h1>
  <div *ngIf="calificacionEnviada" class="card green">
    <div class="card-content white-text">
      <span class="card-title">¡Calificación enviada!</span>
      <p>La calificación ha sido realizada exitosamente.</p>
    </div>
  </div>
  <form class="col s12" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="row">
      <div class="input-field col s12">
        <input id="customer_name" type="text" class="validate" required name="customer_name" ngModel>
        <label for="customer_name">Nombre del Cliente</label>
      </div>
    </div>
    <h4 class="flow-text">Calificación del Mesero</h4>
    <div class="row">
      <div class="input-field col s12">
        <input id="employee_name" type="text" class="validate" required name="employee_name" ngModel>
        <label for="employee_name">Nombre del Mesero</label>
      </div>
      <div class="col s12">
        <p>
          <label>
            <input name="waiter_rating" type="radio" value="5" required ngModel>
            <span>Excelente</span>
          </label>
        </p>
        <p>
          <label>
            <input name="waiter_rating" type="radio" value="4" ngModel>
            <span>Muy Bueno</span>
          </label>
        </p>
        <p>
          <label>
            <input name="waiter_rating" type="radio" value="3" ngModel>
            <span>Bueno</span>
          </label>
        </p>
        <p>
          <label>
            <input name="waiter_rating" type="radio" value="2" ngModel>
            <span>Regular</span>
          </label>
        </p>
        <p>
          <label>
            <input name="waiter_rating" type="radio" value="1" ngModel>
            <span>Malo</span>
          </label>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="comment" class="materialize-textarea" required name="comment" ngModel></textarea>
        <label for="comment">Comentario Adicional</label>
      </div>
    </div>

    <div class="row center-align">
      <button class="btn waves-effect waves-light gold" type="submit" name="action">
        <i class="material-icons right">Enviar Calificación</i>
      </button>
    </div>
  </form>
</div>